.add-form {
    max-width: 400px;
}

.add-form-margin {
    margin-bottom: 16px;
}

.add-form-forgot {
    float: right;
}

.add-form-button {
    width: 100%;
}

.currency-select.ant-select {
    width: 70px;
}

.delete-icon {
    margin-left: 6px;
    font-size: 24px;
}
