<h1>Transactions</h1>
<nz-table
    #rowSelectionTable
    nzShowPagination
    nzShowSizeChanger
    [nzData]="transactions$ | async">
    <thead>
    <tr>
        <th nzCustomFilter>Id
            <nz-filter-trigger [(nzVisible)]="searchVisible.id" [nzDropdownMenu]="idSearch">
                <i nz-icon nzType="search"></i>
            </nz-filter-trigger>
        </th>
        <th>Date
            <nz-filter-trigger [(nzVisible)]="searchVisible.date" [nzDropdownMenu]="dateSearch">
                <i nz-icon nzType="filter"></i>
            </nz-filter-trigger>
        </th>
        <th>Currency</th>
        <th>Amount</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of rowSelectionTable.data">
        <td>{{ data.id }}</td>
        <td>{{ data.date | date:'short' }}</td>
        <td>{{ data.amount.currency }}</td>
        <td>{{ data.amount.value }} {{ data.amount.currency }}</td>
        <td>
            <button nz-button nzType="default" (click)="deleteTransaction(data.id)"><i nz-icon nzType="delete"></i></button>
        </td>
    </tr>
    </tbody>
</nz-table>
<!-- ID search form -->
<nz-dropdown-menu #idSearch="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
        <div class="search-box">
            <input [formControl]="searchIdCtrl" type="text" nz-input placeholder="Search..." />
        </div>
    </div>
</nz-dropdown-menu>
<!-- Date range form -->
<nz-dropdown-menu #dateSearch="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
        <div class="search-box">
            <nz-range-picker
                nzMode="date"
                [formControl]="rangePickerCtrl"></nz-range-picker>
        </div>
    </div>
</nz-dropdown-menu>
