nz-header {
    position: fixed;
    width: 100%;
    z-index: 1;

    .logo {
        width: 141px;
    }

    [nz-menu] {
        line-height: 64px;
    }

    & .ant-menu {
        text-align: right;
    }
}

nz-content {
    padding: 0 50px;
    margin-top: 64px;

    .inner-content {
        background: #2d2832;
        padding: 24px;
        min-height: 380px;
    }
}

nz-footer {
    text-align: center;
}
